<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MVCApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- message -->
	<servlet>
		<servlet-name>msg</servlet-name>
		<servlet-class>control.msgController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>msg</servlet-name>
		<url-pattern>/msg</url-pattern>
	</servlet-mapping>

<!-- main -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>control.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
<!-- friends -->
	<servlet>
		<servlet-name>friends</servlet-name>
		<servlet-class>control.FriendController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>friends</servlet-name>
		<url-pattern>/friends</url-pattern>
	</servlet-mapping>	
	
<!-- pq_board  -->

<servlet>
		<servlet-name>pq_board</servlet-name>
		<servlet-class>control.pq_board.boardController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pq_board</servlet-name>
		<url-pattern>/pq_board</url-pattern>
	</servlet-mapping>

<!-- chart -->
	<servlet>
		<servlet-name>chart</servlet-name>
		<servlet-class>control.ChartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chart</servlet-name>
		<url-pattern>/chart</url-pattern>
	</servlet-mapping>

<!-- map -->
	<servlet>
		<servlet-name>map</servlet-name>
		<servlet-class>control.MapController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>map</servlet-name>
		<url-pattern>/map</url-pattern>
	</servlet-mapping>


</web-app>